.currentValue{
    width: 250px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.currentValue img{
    width: 20px;
    margin-right: 4px;
}

header{
    opacity: 0.9;
    border-radius: 5px;
    background-color: rgb(112, 192, 165);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -250%);
}


@media screen and (max-width: 800px) {
    .currentValue{
        width: 70px;
        background-color: rgb(112, 192, 165);
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
    .currentValue img{
        width: 25px;
        margin-right: 0;
    }
    header{
        width: 260px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -250%);
    }
}